.container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.currentWeatherHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.currentWeatherHeading h1{
    color: white;
    margin: 20px;
}

.favIconBtn{
    background-color: transparent;
    border: none;
}

.favIcon{
    font-size: 2em;
    cursor: pointer;
}

.currentWeatherContainer{
    height: max-content;
    background-color: #ffffff38;
    border-radius: 40px;
    padding: 30px 40px;
    color: white;
}

.currentWeatherContainer h5{
    font-size: 0.9em;

}

.currentWeatherInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 140px;
}

.leftside{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap:0;
}

.weatherIcon{}

.weatherTemp{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12px;
    margin: 45px 0;
}

.temp{
    font-size: 3em;
    font-weight: bolder;
}

.description{
    display: flex;
    flex-direction: column;
}
.weatherDescription{
    font-weight: bold;
}
.feelsLike{}

.rightside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.tempMaxMinContainer, .windSpeedContainer, .humidityContainer, .pressureContainer, .visibilityContainer, .cloudsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.label{
    color: #cde3e7de;
    font-size: 0.8em;
}

.value{
    font-size: 1em;
}

@media screen and (max-width: 835px){
    .currentWeatherInfo{
        gap: 80px;
    }
    .weatherTemp{
        gap:  5px;
        margin: 45px 0;
    }
}

@media screen and (max-width: 760px){
    .currentWeatherInfo{
        gap: 82px;
    }
    .weatherTemp{
        gap:  2px;
        margin: 45px 0;
    }
    .temp{
        font-size: 2.3em;
    }
}

@media screen and (max-width: 734px){
    .currentWeatherContainer{
        padding: 20px 30px;
    }
    .currentWeatherInfo{
        gap: 75px;
    }
    .weatherTemp{
        justify-content: left;
        gap:  0px;
        margin: 40px 0;
    }
    .temp{
        font-size: 1.8em;
    }

    .label{
        font-size: 0.7em;
    }
    .value{
        font-size: 0.8em;
    }
    .rightside{
        gap: 20px;
    }
    .weatherIcon{
        width: 70px;
    }
    .description{
        font-size: 0.8em;
    }
    .currentWeatherContainer h5{
        font-size: 0.8em;
    }
    .currentWeatherHeading{
        gap: 0px;
    }
    .currentWeatherHeading h1{
        font-size: 1.4em;
        margin: 20px 15px;
    }
    .favIcon{
        font-size: 1.4em;
    }
}

@media screen and (max-width: 560px){
    .currentWeatherContainer{
        padding: 30px 35px;
    }
    .currentWeatherInfo{
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .leftside{
        margin: 30px 0 0 0;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
    .weatherTemp{
        margin: 0;
    }
    .temp{
        font-size: 2em;
    }
    .description{
        font-size: 0.8em;
        flex-direction: row;
        gap: 5px;
    }
    .label{
        font-size: 0.66em;
    }
    .value{
        font-size: 0.7em;
    }
    .currentWeatherContainer h5{
        color: #cde9eef1;
        font-size: 0.75em;
        font-weight: normal;
        text-align: center;
    }

    .currentWeatherHeading h1{
        font-size: 1.3em;
        margin: 18px 8px;
    }
    .favIcon{
        font-size: 1.2em;
    }
    .weatherIcon{
        width: 80px;
    }
    .rightside{
        gap: 30px;
    }
}

@media screen and (max-width: 323px){
    .currentWeatherContainer{
        padding: 20px 25px;
    }
    .currentWeatherInfo{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .leftside{
        margin: 22px 0 0 0;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
    .weatherTemp{
        margin: 0;
    }
    .temp{
        font-size: 1.7em;
    }
    .description{
        font-size: 0.7em;
        flex-direction: row;
        gap: 5px;
    }
    .label{
        font-size: 0.55em;
    }
    .value{
        font-size: 0.6em;
    }
    .currentWeatherContainer h5{
        font-size: 0.7em;
        font-weight: normal;
        text-align: center;
    }

    .currentWeatherHeading h1{
        font-size: 1em;
        margin: 15px 8px;
    }
    .favIcon{
        font-size: 0.95em;
    }
}